@mixin action($color) {
  color: $color;
  padding-top: 18px;
  &:hover {
    cursor: pointer;
  }
}

.icon-save {
  @include action(#0384d9);
}

.icon-cancel {
  @include action(darkred);
}

input {
  margin-top: 18px;
}

.card-body {
  display: flex;
  flex-direction: column;
}
