.curser {
  cursor: pointer;
}

.btn {
  border-color: green;
  margin-left: 10px;
  cursor: pointer;
  padding: 2px 4px;
  font-size: 17px;
  &:hover{
    background-color: green;
  }
}

.card-text {
  display: flex;
  flex-direction: column;
  span {
      margin-top: 16px;
  }
}
