@import "./base.scss";

.icon-create {
  border: 1px solid green;
  padding: 9px 24% 9px 32%;
  border-radius: 5px;

  &:hover {
    background-color: green;
    cursor: pointer;
  }
}

.download:hover {
  cursor: pointer;
}

.actions {
  display: grid;
  grid-template-columns: 60% 4em 3em 3em;
  align-items: center;
  grid-column-gap: 1.5%;
}

.passwordCard {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
