@import "./base.scss";

.relative {
  position: relative;
}

@mixin action() {
  position: absolute;
  top: 18px;
}

.icon-create {
  @include action();
  border: 1px solid green;
  padding: 9px 12px;
  border-radius: 5px;
  &:hover {
    background-color: green;
    cursor: pointer;
  }
}

.switch {
  @include action();
  right: 140px;
}
