@import "./base.scss";

.icon-create {
  border: 1px solid green;
  padding: 9px 24% 9px 32%;
  border-radius: 5px;

  &:hover {
    background-color: green;
    cursor: pointer;
  }
}

.actions {
  display: grid;
  grid-template-columns: 80% 6% 5%;
  align-items: center;
  grid-column-gap: 2%;
}

.passwordCard{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
